<div class="row content">
    <div class="reset-header">
        <img src="assets/Back/images/logo/logo.png" alt="Logo" />
    </div>
    <div class="reset-body">
        <h1 class="text-center">Password Reset</h1>
        <p class="text-center mt-3">
            Please enter your phone number to receive a code
        </p>
        <form [formGroup]="resetForm">
            <div class="form-group position-relative has-icon-left mb-4 d-flex align-items-center">
                <div>
                    <input type="text" class="form-control form-control-xl" placeholder="Phone Number" formControlName="phone" />
                    <div class="form-control-icon">
                        <i class="bi bi-phone"></i>
                    </div>
                </div>
                <button class="btn btn-success send-btn" (click)="sendCode()">Send code</button>
            </div>
            <div class="caption status-danger" *ngIf=" phone?.touched && phone?.invalid">
                <p *ngIf="phone?.errors?.['required']">
                    Phone number is required!
                </p>
            </div>
            <div class="form-group position-relative has-icon-left mb-4 d-flex align-items-center" *ngIf="isCodeSent">
                <div>
                    <input type="text" class="form-control form-control-xl" placeholder="Reset Code" formControlName="code" />
                    <div class="form-control-icon">
                        <i class="bi bi-lock"></i>
                    </div>
                </div>
                <button class="btn btn-success send-btn" (click)="verifyCode()">Verify code</button>
            </div>
            <div class="caption status-danger" *ngIf="code?.touched && code?.invalid">
                <p *ngIf="code?.errors?.['required']">
                    Reset code is required!
                </p>
            </div>
            <div class="caption status-danger" *ngIf="codeNotValid">
                <p>
                    Reset code is not valid or expired!
                </p>
            </div>
            <div *ngIf="isCodeValid">
                <label for=""> Enter your new password</label>
                <div class="form-group position-relative has-icon-left mb-4 mt-2">
                    <input type="password" class="form-control form-control-xl" placeholder="Password" formControlName="password" />
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
            </div>
            </div>
            
            <div class="caption status-danger" *ngIf="password?.touched && password?.invalid">
                <p *ngIf="password?.errors?.['required']">
                    Password is required!
                </p>
                <p *ngIf="password?.errors?.['pattern']">
                    Password must be at least 8 characters long and contain at least one uppercase letter and one number!
                </p>
            </div>
            <button class="btn btn-primary btn-block btn-lg shadow-lg"
            (click)="onSubmit()"
            [disabled]="resetForm.invalid"
            >
                Submit
            </button>
        </form>
    </div>
    <div class="reset-footer">
        <p>
            Go back to <a [routerLink]="'/login'" class="link">Sign In</a>.
        </p>
    </div>

</div>